
  
  /*prevents the about me from taking over  */
   .main{
        margin: 25px 0px;
        padding: 10px 0px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: stretch;
    
    }

    /* resizes for mobile */
    @media screen and (max-width: 768px) {
        header {
          flex-direction: column;
        }
      
        main {
          max-width: 1200px;
        }
      }

/* makes header all on one line */
header {
    max-height: max-content;
    width: 100%;
    border: thin solid black;
    padding-top: 15px;
    margin-bottom: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;  
} 


header h1 {
    font-size: 20px;
    color: blueviolet;
    display: inline-block;
    margin: 0%;
    padding: 10px 33% 10px -39%;

}

/* sections like work and about me */
h2{
    color: seagreen;
    font-size: xx-large;
}
 /* makes the about me box */
.aboutme {

        width: 30%;
        padding-left: 15px;
        padding-bottom: 20px;
        float: right;
        font-style: italic;
        background-color: lightgray;
}

    /* deals with the project boxes */
.container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;  
    justify-content: space-between;
}


/* makes the first box bigger */
.box:first-child{
    min-height: 400px;
    flex-basis: 100%;
}
/* sets boxes parameters */
.box {
    border:inset 5px black;
    display: flex;
    align-items: flex-end;
    padding-bottom: 20px;
    flex-basis: calc(50% - 1em);
    max-height: 200px;
    min-height: 200px;
}

/* gives a cool little glow */
.box:hover{
    box-shadow: inset 5px 5px 10px gold;
    transition: all .5s ease-in-out;
}


footer {
    border: solid black;
    background-color: violet;   
}


footer div {
    flex: 0 0 80%; 
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    flex-direction: row;
    
}

.quiz {
    background-image: url("Quiz.jpg");
}
.weather {
    background-image: url("./Weather-forecast.jpg");
}
.planner {
    background-image: url("Daily-planner.jpg");
}
.statue-image {
    background-image: url("statue.jpg");
}
